
.Header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 50%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2% 24%;
  border-radius: 50px;
  color:white;
  font-weight:bold;
  
}

nav li {
  display: inline-block;
  margin : .5em 1em;
  padding: 20px;

}

.link {
  text-decoration: none;
  color :whitesmoke;
  position: relative;
  padding: .5em .7em;
  font-size: 18px;
}

.link:hover{
  color:cyan;
}


.link::before,
.link::after{
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  transition: all ease 0.3s;
  opacity: 0;
  
}

.link::before{
  right: 0;
  top: 0;
  border-right: 2px solid cyan;
  border-top: 2px solid cyan;
  transform: translate(-100%,50%);
}

.link::after{
  left:0;
  bottom: 0;
  border-left: 2px solid cyan;
  border-bottom: 2px solid cyan;
  transform: translate(100%,-50%);
}

.link:hover::before,
.link:hover::after{
  transform: translate(0%,0%);
  opacity: 1;
}


